
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="main-wrapper">
  <div class="section left col-xs-4">
    <div class="card border-0">
      <div class="card-body p-0">
        <div class="row no-gutters">
          <div class="col">
            <div class="p-5">
              <div class="mb-5">
                <h3 class="h4 font-weight-bold text-theme">Login</h3>
              </div>

              <h6 class="h5 mb-0">Welcome back to Power Gym!</h6>
              <p class="text-muted mt-2 mb-5">Enter your email address and password to gain access.</p>

              <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                <div class="form-group">
                  <label for="InputEmail">Email or username address</label>
                  <input type="text" class="form-control" name="username" placeholder="Username" id="InputEmail"
                         ngModel
                         #usernameInput="ngModel" required>
                  <span class="help-block" style="color:red;" *ngIf="usernameInput.touched">Please enter a email or username</span>
                </div>
                <div class="form-group mb-5">
                  <label for="InputPassword">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password" id="InputPassword"
                         ngModel
                         #passwordInput="ngModel" required>
                  <span class="help-block" style="color:red;" *ngIf="passwordInput.touched">Please enter a password</span>
                </div>
                <button type="submit" [disabled]="loginForm.invalid || showLoading" name="button" class="btn login_btn">
                  <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                  <span *ngIf="showLoading">Loading...</span>
                  <span *ngIf="!showLoading">Login</span>
                </button>
                <a href="#l" class="forgot-link float-right text-primary">Forgot password?</a>
              </form>
              <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="#" class="text-primary ml-1">Sign up</a></p>
            </div>
          </div>
        </div>

      </div>
      <!-- end card-body -->
    </div>
  </div>
  <div class="section right col-xs-8">
  </div>
</div>
